<div class="block" data-type="{{block.type}}" id="{{instance.id}}">
  <div class="inputs">
    {{#each block.inputs as |desc name|}}
      <div id="{{name}}">{{desc}}</div>
    {{/each}}
  </div>
  <div class="main">
    <div>
      <div class="title">{{block.name}}</div>
      {{{block.pageBlock.html}}}
    </div>
  </div>
  {{#if block.output}}
    <div class="output">
      Output
    </div>
  {{/if}}
</div>
