<div class="block" data-type="{{block.type}}" id="{{instance.id}}">
  <div class="inputs">
    {{#each block.inputs as |input id|}}
      <div id="{{id}}">
        {{input.name}}
        {{#if input.inline}}
          <input type="{{input.type}}" size="4" value="{{lookup (lookup ../instance.inputs id) "value"}}"></input>
        {{/if}}
      </div>
    {{/each}}
  </div>
  <div class="main">
    <div>
      <div class="title">{{block.name}}</div>
      {{{block.pageBlock.html}}}
    </div>
  </div>
  {{#if block.output}}
    <div class="output">
      Output
    </div>
  {{/if}}
</div>
